{
  "Version": 1,
  "WorkspaceRootPath": "C:\\Users\\mpung\\source\\repos\\CyberSecurityChatbot\\",
  "Documents": [
    {
      "AbsoluteMoniker": "D:0:0:{1CBB0C41-1B39-4851-A31B-125135799D75}|CyberSecurityChatbot.csproj|c:\\users\\mpung\\source\\repos\\cybersecuritychatbot\\chatbotform.cs||{A6C744A8-0E4A-4FC6-886A-064283054674}",
      "RelativeMoniker": "D:0:0:{1CBB0C41-1B39-4851-A31B-125135799D75}|CyberSecurityChatbot.csproj|solutionrelative:chatbotform.cs||{A6C744A8-0E4A-4FC6-886A-064283054674}"
    },
    {
      "AbsoluteMoniker": "D:0:0:{1CBB0C41-1B39-4851-A31B-125135799D75}|CyberSecurityChatbot.csproj|C:\\Users\\mpung\\source\\repos\\CyberSecurityChatbot\\chatbotengine.cs||{A6C744A8-0E4A-4FC6-886A-064283054674}",
      "RelativeMoniker": "D:0:0:{1CBB0C41-1B39-4851-A31B-125135799D75}|CyberSecurityChatbot.csproj|solutionrelative:chatbotengine.cs||{A6C744A8-0E4A-4FC6-886A-064283054674}"
    },
    {
      "AbsoluteMoniker": "D:0:0:{1CBB0C41-1B39-4851-A31B-125135799D75}|CyberSecurityChatbot.csproj|C:\\Users\\mpung\\source\\repos\\CyberSecurityChatbot\\chatbotform.cs||{A6C744A8-0E4A-4FC6-886A-064283054674}|Form",
      "RelativeMoniker": "D:0:0:{1CBB0C41-1B39-4851-A31B-125135799D75}|CyberSecurityChatbot.csproj|solutionrelative:chatbotform.cs||{A6C744A8-0E4A-4FC6-886A-064283054674}|Form"
    },
    {
      "AbsoluteMoniker": "D:0:0:{1CBB0C41-1B39-4851-A31B-125135799D75}|CyberSecurityChatbot.csproj|C:\\Users\\mpung\\source\\repos\\CyberSecurityChatbot\\consolehelper.cs||{A6C744A8-0E4A-4FC6-886A-064283054674}",
      "RelativeMoniker": "D:0:0:{1CBB0C41-1B39-4851-A31B-125135799D75}|CyberSecurityChatbot.csproj|solutionrelative:consolehelper.cs||{A6C744A8-0E4A-4FC6-886A-064283054674}"
    },
    {
      "AbsoluteMoniker": "D:0:0:{1CBB0C41-1B39-4851-A31B-125135799D75}|CyberSecurityChatbot.csproj|C:\\Users\\mpung\\source\\repos\\CyberSecurityChatbot\\cyberdictionary.cs||{A6C744A8-0E4A-4FC6-886A-064283054674}",
      "RelativeMoniker": "D:0:0:{1CBB0C41-1B39-4851-A31B-125135799D75}|CyberSecurityChatbot.csproj|solutionrelative:cyberdictionary.cs||{A6C744A8-0E4A-4FC6-886A-064283054674}"
    },
    {
      "AbsoluteMoniker": "D:0:0:{1CBB0C41-1B39-4851-A31B-125135799D75}|CyberSecurityChatbot.csproj|C:\\Users\\mpung\\source\\repos\\CyberSecurityChatbot\\program.cs||{A6C744A8-0E4A-4FC6-886A-064283054674}",
      "RelativeMoniker": "D:0:0:{1CBB0C41-1B39-4851-A31B-125135799D75}|CyberSecurityChatbot.csproj|solutionrelative:program.cs||{A6C744A8-0E4A-4FC6-886A-064283054674}"
    },
    {
      "AbsoluteMoniker": "D:0:0:{1CBB0C41-1B39-4851-A31B-125135799D75}|CyberSecurityChatbot.csproj|C:\\Users\\mpung\\source\\repos\\CyberSecurityChatbot\\startupmanager.cs||{A6C744A8-0E4A-4FC6-886A-064283054674}",
      "RelativeMoniker": "D:0:0:{1CBB0C41-1B39-4851-A31B-125135799D75}|CyberSecurityChatbot.csproj|solutionrelative:startupmanager.cs||{A6C744A8-0E4A-4FC6-886A-064283054674}"
    },
    {
      "AbsoluteMoniker": "D:0:0:{1CBB0C41-1B39-4851-A31B-125135799D75}|CyberSecurityChatbot.csproj|C:\\Users\\mpung\\source\\repos\\CyberSecurityChatbot\\chatbotform.designer.cs||{A6C744A8-0E4A-4FC6-886A-064283054674}",
      "RelativeMoniker": "D:0:0:{1CBB0C41-1B39-4851-A31B-125135799D75}|CyberSecurityChatbot.csproj|solutionrelative:chatbotform.designer.cs||{A6C744A8-0E4A-4FC6-886A-064283054674}"
    }
  ],
  "DocumentGroupContainers": [
    {
      "Orientation": 0,
      "VerticalTabListWidth": 200,
      "DocumentGroups": [
        {
          "DockedWidth": 200,
          "SelectedChildIndex": 3,
          "Children": [
            {
              "$type": "Document",
              "DocumentIndex": 4,
              "Title": "CyberDictionary.cs",
              "DocumentMoniker": "C:\\Users\\mpung\\source\\repos\\CyberSecurityChatbot\\CyberDictionary.cs",
              "RelativeDocumentMoniker": "CyberDictionary.cs",
              "ToolTip": "C:\\Users\\mpung\\source\\repos\\CyberSecurityChatbot\\CyberDictionary.cs",
              "RelativeToolTip": "CyberDictionary.cs",
              "ViewState": "AgIAAAAAAAAAAAAAAAAAAJUAAAAdAAAAAAAAAA==",
              "Icon": "ae27a6b0-e345-4288-96df-5eaf394ee369.000738|",
              "WhenOpened": "2026-04-01T20:36:19.785Z",
              "EditorCaption": ""
            },
            {
              "$type": "Document",
              "DocumentIndex": 2,
              "Title": "ChatBotForm.cs [Design]",
              "DocumentMoniker": "C:\\Users\\mpung\\source\\repos\\CyberSecurityChatbot\\ChatBotForm.cs",
              "RelativeDocumentMoniker": "ChatBotForm.cs",
              "ToolTip": "C:\\Users\\mpung\\source\\repos\\CyberSecurityChatbot\\ChatBotForm.cs [Design]",
              "RelativeToolTip": "ChatBotForm.cs [Design]",
              "Icon": "ae27a6b0-e345-4288-96df-5eaf394ee369.000738|",
              "WhenOpened": "2026-05-26T15:09:04.206Z",
              "EditorCaption": " [Design]"
            },
            {
              "$type": "Document",
              "DocumentIndex": 7,
              "Title": "ChatBotForm.Designer.cs",
              "DocumentMoniker": "C:\\Users\\mpung\\source\\repos\\CyberSecurityChatbot\\ChatBotForm.Designer.cs",
              "RelativeDocumentMoniker": "ChatBotForm.Designer.cs",
              "ToolTip": "C:\\Users\\mpung\\source\\repos\\CyberSecurityChatbot\\ChatBotForm.Designer.cs",
              "RelativeToolTip": "ChatBotForm.Designer.cs",
              "ViewState": "AgIAAAAAAAAAAAAAAAAAAE0AAAAmAAAAAAAAAA==",
              "Icon": "ae27a6b0-e345-4288-96df-5eaf394ee369.000738|",
              "WhenOpened": "2026-05-26T11:33:14.251Z",
              "EditorCaption": ""
            },
            {
              "$type": "Document",
              "DocumentIndex": 0,
              "Title": "ChatBotForm.cs",
              "DocumentMoniker": "C:\\Users\\mpung\\source\\repos\\CyberSecurityChatbot\\ChatBotForm.cs",
              "RelativeDocumentMoniker": "ChatBotForm.cs",
              "ToolTip": "C:\\Users\\mpung\\source\\repos\\CyberSecurityChatbot\\ChatBotForm.cs",
              "RelativeToolTip": "ChatBotForm.cs",
              "ViewState": "AgIAAAAAAAAAAAAAAAAAABoAAAAhAAAAAAAAAA==",
              "Icon": "ae27a6b0-e345-4288-96df-5eaf394ee369.000738|",
              "WhenOpened": "2026-05-26T11:04:04.515Z",
              "EditorCaption": ""
            },
            {
              "$type": "Document",
              "DocumentIndex": 1,
              "Title": "ChatBotEngine.cs",
              "DocumentMoniker": "C:\\Users\\mpung\\source\\repos\\CyberSecurityChatbot\\ChatBotEngine.cs",
              "RelativeDocumentMoniker": "ChatBotEngine.cs",
              "ToolTip": "C:\\Users\\mpung\\source\\repos\\CyberSecurityChatbot\\ChatBotEngine.cs",
              "RelativeToolTip": "ChatBotEngine.cs",
              "ViewState": "AgIAAAAAAAAAAAAAAAAAAAcBAAAJAAAAAAAAAA==",
              "Icon": "ae27a6b0-e345-4288-96df-5eaf394ee369.000738|",
              "WhenOpened": "2026-05-21T15:29:43.609Z",
              "EditorCaption": ""
            },
            {
              "$type": "Document",
              "DocumentIndex": 3,
              "Title": "ConsoleHelper.cs",
              "DocumentMoniker": "C:\\Users\\mpung\\source\\repos\\CyberSecurityChatbot\\ConsoleHelper.cs",
              "RelativeDocumentMoniker": "ConsoleHelper.cs",
              "ToolTip": "C:\\Users\\mpung\\source\\repos\\CyberSecurityChatbot\\ConsoleHelper.cs",
              "RelativeToolTip": "ConsoleHelper.cs",
              "ViewState": "AgIAAAAAAAAAAAAAAAAAAEYAAAAyAAAAAAAAAA==",
              "Icon": "ae27a6b0-e345-4288-96df-5eaf394ee369.000738|",
              "WhenOpened": "2026-04-01T20:43:43.487Z",
              "EditorCaption": ""
            },
            {
              "$type": "Document",
              "DocumentIndex": 5,
              "Title": "Program.cs",
              "DocumentMoniker": "C:\\Users\\mpung\\source\\repos\\CyberSecurityChatbot\\Program.cs",
              "RelativeDocumentMoniker": "Program.cs",
              "ToolTip": "C:\\Users\\mpung\\source\\repos\\CyberSecurityChatbot\\Program.cs",
              "RelativeToolTip": "Program.cs",
              "ViewState": "AgIAAAAAAAAAAAAAAAAAABUAAAABAAAAAAAAAA==",
              "Icon": "ae27a6b0-e345-4288-96df-5eaf394ee369.000738|",
              "WhenOpened": "2026-04-01T17:46:22.004Z",
              "EditorCaption": ""
            },
            {
              "$type": "Document",
              "DocumentIndex": 6,
              "Title": "StartupManager.cs",
              "DocumentMoniker": "C:\\Users\\mpung\\source\\repos\\CyberSecurityChatbot\\StartupManager.cs",
              "RelativeDocumentMoniker": "StartupManager.cs",
              "ToolTip": "C:\\Users\\mpung\\source\\repos\\CyberSecurityChatbot\\StartupManager.cs",
              "RelativeToolTip": "StartupManager.cs",
              "ViewState": "AgIAAFIAAAAAAAAAAAAkwHMAAAABAAAAAAAAAA==",
              "Icon": "ae27a6b0-e345-4288-96df-5eaf394ee369.000738|",
              "WhenOpened": "2026-04-01T18:36:16.744Z",
              "EditorCaption": ""
            }
          ]
        }
      ]
    }
  ]
}